dummy/src/main/mule/dummy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c7b254ff-3453-47b1-8eed-fad0205059fc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dummyFlow" doc:id="3a406f7c-b171-4f2d-b566-d29ace3ed81b" >
		<http:listener doc:name="Listener" doc:id="d915e34c-99cf-4395-a98a-f8cec83c4a82" config-ref="HTTP_Listener_config" path="/dummy"/>
		<set-payload value='#["Welcome dummy"]' doc:name="Set Payload" doc:id="7c81f83a-7758-4d2e-911a-685f12e0b917" />
		<logger level="INFO" doc:name="Logger" doc:id="d4b7a98a-b743-4379-b573-60bc6d943051" message="#[payload]"/>
	</flow>
</mule>
